/* Author: Tushardeep Singh */

/* Variable declarations */
:root {
  --HOMEPAGE-TOP-SEC-TEXT-COLOR: #E4572E;
  --TOPSECTION-LINK-BG-COLOR: #E4572E;
  --TOPSECTION-LINK-TEXT-COLOR: #FBF5F3;
  --TOPSECTION-LINK-HOVER-BG-COLOR: #E0DFD5;
  --TOPSECTION-LINK-HOVER-TEXT-COLOR: #313638;
  --DUMMY-BLOG-BORDER-TOP: 1px solid #E4572E;
  --TOP-SECTION-HEADING-FONT-SIZE: 2.5rem;
}

.homePage {
  flex-grow: 1;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}

.homePage-topSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  color: var(--HOMEPAGE-TOP-SEC-TEXT-COLOR);
  font-size: larger;
  font-weight: bolder;
  font-style: italic;
}

.homePage-topSection h3 {
  font-size: var(--TOP-SECTION-HEADING-FONT-SIZE);
}

.topSection-link {
  background-color: var(--TOPSECTION-LINK-BG-COLOR);
  color: var(--TOPSECTION-LINK-TEXT-COLOR);
  padding: 1rem;
  border-radius: 0.2rem;
}

.topSection-link:hover {
  background-color: var(--TOPSECTION-LINK-HOVER-BG-COLOR);
  color: var(--TOPSECTION-LINK-HOVER-TEXT-COLOR);
  transition: all 0.5s;
}

.homePage-dummyBlog {
  display: flex;
  justify-content: center;
  align-items: center;
}

.postedBy {
  padding: 0.5rem;
  font-style: italic;
  font-weight: bolder;
  background-color: black;
  color: whitesmoke;
}

.dummyBlog {
  width: 70%;
  height: 70%; 
  display: flex;
  flex-direction: column;
  border: 10px solid black;
}

.dummyBlog-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  font-size: 1.5rem;
  border: none;
  font-style: italic;
  font-weight: bolder;
  flex-grow: 1;
  padding: 1rem;
  color: #FBF5F3;
}

.buttons:hover {
  cursor: not-allowed;
}

.delete-button {
  background-color: #E4572E;
}

.like-button {
  background-color: #29335C;
}

.comment-button {
  background-color: #F3A712;
}

.edit-button {
  background-color: #002500;
}

/* animation to change the color of the border */
@keyframes borderColorChange {
  0% {
    border: 10px solid #E4572E;
  }

  23% {
    border: 10px solid #29335C;
  }

  56% {
    border: 10px solid #F3A712;
  }

  79% {
    border: 10px solid #002500;
  }

  100% {
    border: 10px solid #E4572E;
  }
}

.dummyBlog-input {
  border: none;
  font-size: larger;
  padding: 0.5rem;
}

.dummyBlog-textArea {
  border: none;
  border-top: var(--DUMMY-BLOG-BORDER-TOP);
  font-size: larger;
  padding: 0.5rem;
}